:root{


    --color-black: black;

    --color-orange20:rgba(245, 138, 37, 0.158);
    --color-orange100:#fab59e;

    --color-gradient-orange-white:radial-gradient(141.08% 131.09% at 95.31% 6.12%, #ffeac4 0%, #ffeadd 100%);
    --color-gradient-pink-orange:linear-gradient(180deg,#FF42B3 0%, rgb(255,197,111,46%) 100%) ;
    --color-gradient-pink-transparent-orange:linear-gradient(180deg,#FABCE5 0%,rgb(245,138,37,0%) 100%);

    --text-color: var(--color-black);
    --title-color: var(--color-black);
    --button-color: var(--color-orange100);
    --button-text-color:var(--color-black);
    --big-block-color:var(--color-orange20);
    --background-base-color:var(--color-gradient-orange-white);
    --background-first-circle:var(--color-gradient-pink-orange);
    --background-second-circle:var(--color-gradient-pink-transparent-orange);


    --bg-image: url('Gradient.svg');

    --base-text:16px;
    --button-text:16px;
    --title-text:20px;
    --big-title-text:24px;
    --underline-link:2.5px;
    --border-radius:32px;

}

/*------ОБНУЛЕНИЕ-----------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;

    font-size: var(--base-text);
    color: var(--text-color);
    font-weight: 400;
    /*line-height: 100%;*/
    background-image: var(--bg-image), var(--background-base-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;

}

/* ------------------------------ */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ----------------- */
._container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: content-box;
}
.page{
    flex: 1 1 auto;
    margin: 0 0 60px 0;
}
.big-title{
    font-size: var(--big-title-text);
    color: var(--title-color);
    font-weight: 600;

}
.link{
    color: var(--text-color);
    position: relative;

}
.link::before{
    content: '';
    width: 100%;
    height: var(--underline-link);
    position: absolute;
    background-color: var(--text-color);
    bottom: 0;

}
.link:hover{

}
/* ----------- */

.header{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: var(--big-block-color);
}
.header__container{
    display: flex;
    /*min-height: 74px;*/
    position: relative;
    align-items: center;
    justify-content: center;
}

.header__big-title{
    margin: 20px 0;
}



/* ----------------- */
.footer{
    background: var(--big-block-color);
}
.footer__container{
    display: flex;
    /*min-height: 74px;*/
    position: relative;
    align-items: center;
    justify-content: center;
}
.footer__big-title{
    margin: 20px 0 24px 0px;
}



/* -------------- */
.main-block{
    position: relative;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-bar{
    background: var(--big-block-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;

}

.filter-functions{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: stretch;
}

[class*="-button"]{
    border-radius: var(--border-radius);
    padding: 12px 16px;

    font-size: var(--button-text);
    color: var(--button-text-color);
    font-weight: 500;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 4px;
    font-family: inherit;
    line-height: 100%;


    transition: transform 0.1s ease, box-shadow 0.1s ease;
    will-change: transform, box-shadow;
}
[class*="-button"]:hover{
   transform: translateY(-3px);
   box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3),
   0 10px 20px rgba(0, 0, 0, 0.18);

}
[class*="-button"]:active{
    transform: translateY(-1px);
    box-shadow:  0 0 0 2px rgba(255, 255, 255, 0.3),
    0 5px 10px rgba(0, 0, 0, 0.12);
}
.filter-button:hover {
    box-shadow: 
        0 0 0 2px rgba(255, 255, 255, 0.3),
        0 0 0 4px var(--button-color) inset,
        0 10px 20px rgba(0, 0, 0, 0.18);
}

.filter-button:active {
    box-shadow:  0 0 0 2px rgba(255, 255, 255, 0.3),
        0 0 0 4px var(--button-color) inset,
        0 5px 10px rgba(0, 0, 0, 0.12);
}
.filter-clear-button{
    background: var(--button-color);
}

.filter-button{
    background: transparent;
    box-shadow: 0 0 0 4px var(--button-color) inset;
    box-sizing: border-box;
    span{
        line-height: 100%;
        text-align: center;
    }
}

.icon-badge{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    object-fit: contain;
}

.layout-cards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}
.layout-card{

}
.image-box{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--big-block-color);
}
.image-box__image { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.image-box__image[src=""] {
    opacity: 0;
    visibility: hidden;
}
.card-information{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 2px;
}
.medium-title{
    color: var(--title-color);
    font-size: var(--title-text);
    font-weight: 500;
    position: relative;
}

.card-text{
    color: var(--title-color);
}

