<section class="account-bg">
    <div class="container-fluid account-bg__container">
        <picture class="account-bg__img">
            <source srcset="img/123.webp" type="image/webp">
            <img loading="lazy" src="img/123.jpg" class="image" alt="Картинка фона" height="255px">
        </picture>
        <div class="account-bg__function">
            <h2 class="account-bg__title">Matthew Matthews</h2>
            <button class="account-bg__subscribe btn-reser btn">Подписаться</button>
        </div>

    </div>
</section>