<section class="all-video">
    <div class="container all-video__container">
        <h3 class="section-title all-video__title">Все видео релизы</h3>
        <div class="slider slider__all-video">
            <div class="swiper slider__content slider2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class=" video-distrube-big">
                            <picture class="video-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="245" height="145" alt="">
                            </picture>
                            <div class="video-distrube-big__item">
                                <p class="video-distrube-big__name">Never! - Official Video</p>
                                <p class="video-distrube-big__account">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" video-distrube-big">
                            <picture class="video-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="245" height="145" alt="">
                            </picture>
                            <div class="video-distrube-big__item">
                                <p class="video-distrube-big__name">Never! - Official Video</p>
                                <p class="video-distrube-big__account">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" video-distrube-big">
                            <picture class="video-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="245" height="145" alt="">
                            </picture>
                            <div class="video-distrube-big__item">
                                <p class="video-distrube-big__name">Never! - Official Video</p>
                                <p class="video-distrube-big__account">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" video-distrube-big">
                            <picture class="video-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="245" height="145" alt="">
                            </picture>
                            <div class="video-distrube-big__item">
                                <p class="video-distrube-big__name">Never! - Official Video</p>
                                <p class="video-distrube-big__account">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" video-distrube-big">
                            <picture class="video-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="245" height="145" alt="">
                            </picture>
                            <div class="video-distrube-big__item">
                                <p class="video-distrube-big__name">Never! - Official Video</p>
                                <p class="video-distrube-big__account">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" video-distrube-big">
                            <picture class="video-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="245" height="145" alt="">
                            </picture>
                            <div class="video-distrube-big__item">
                                <p class="video-distrube-big__name">Never! - Official Video</p>
                                <p class="video-distrube-big__account">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" video-distrube-big">
                            <picture class="video-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="245" height="145" alt="">
                            </picture>
                            <div class="video-distrube-big__item">
                                <p class="video-distrube-big__name">Never! - Official Video</p>
                                <p class="video-distrube-big__account">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider__nav">
                <div class="swiper-scrollbar slider__scroll scroll2"></div>
            </div>
        </div>
    </div>
</section>