<section class="all-track">
    <div class="container all-track__container">
        <h3 class="section-title all-track__title">Все релизы</h3>
        <div class="slider slider__all-track">
            <div class="swiper slider__content slider1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class=" music-distrube-big">
                            <picture class="music-distrube-big__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="145" height="145" alt="">
                            </picture>
                            <div class="music-distrube-big__item">
                                <p class="music-distrube-big__album">Never!</p>
                                <p class="music-distrube-big__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider__nav">
                <div class="swiper-scrollbar slider__scroll scroll1"></div>
            </div>
        </div>
    </div>
</section>