<section class="best-video">
    <div class="container best-video__container">
        <h3 class="section-title best-video__title">Популярные видео</h3>
        <div class="best-video__content grid1">
            <a href="" class="video-distrube">
                <picture class="video-distrube__img">
                    <source srcset="img/124.webp" type="image/webp">
                    <img loading="lazy" src="img/124.jpg" class="image" width="178" height="100" alt="">
                </picture>
                <div class="video-distrube__item">
                    <p class="video-distrube__name">Never!</p>
                    <p class="video-distrube__account">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="video-distrube">
                <picture class="video-distrube__img">
                    <source srcset="img/124.webp" type="image/webp">
                    <img loading="lazy" src="img/124.jpg" class="image" width="178" height="100" alt="">
                </picture>
                <div class="video-distrube__item">
                    <p class="video-distrube__name">Never!</p>
                    <p class="video-distrube__account">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="video-distrube">
                <picture class="video-distrube__img">
                    <source srcset="img/124.webp" type="image/webp">
                    <img loading="lazy" src="img/124.jpg" class="image" width="178" height="100" alt="">
                </picture>
                <div class="video-distrube__item">
                    <p class="video-distrube__name">Never!</p>
                    <p class="video-distrube__account">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="video-distrube">
                <picture class="video-distrube__img">
                    <source srcset="img/124.webp" type="image/webp">
                    <img loading="lazy" src="img/124.jpg" class="image" width="178" height="100" alt="">
                </picture>
                <div class="video-distrube__item">
                    <p class="video-distrube__name">Never!</p>
                    <p class="video-distrube__account">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="video-distrube">
                <picture class="video-distrube__img">
                    <source srcset="img/124.webp" type="image/webp">
                    <img loading="lazy" src="img/124.jpg" class="image" width="178" height="100" alt="">
                </picture>
                <div class="video-distrube__item">
                    <p class="video-distrube__name">Never!</p>
                    <p class="video-distrube__account">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="video-distrube">
                <picture class="video-distrube__img">
                    <source srcset="img/124.webp" type="image/webp">
                    <img loading="lazy" src="img/124.jpg" class="image" width="178" height="100" alt="">
                </picture>
                <div class="video-distrube__item">
                    <p class="video-distrube__name">Never!</p>
                    <p class="video-distrube__account">Matthew Matthews</p>
                </div>
            </a> <a href="" class="video-distrube">
                <picture class="video-distrube__img">
                    <source srcset="img/124.webp" type="image/webp">
                    <img loading="lazy" src="img/124.jpg" class="image" width="178" height="100" alt="">
                </picture>
                <div class="video-distrube__item">
                    <p class="video-distrube__name">Never!</p>
                    <p class="video-distrube__account">Matthew Matthews</p>
                </div>
            </a>
        </div>
    </div>
</section>