<section class="comment-block">
    <div class="container comment-block__container">
        <h4 class="comment-block__title">Комментарии</h4>

        <div class="comment-block__main">
            <form action="#" class="comment-block__form">
                <label class="comment-block__form-label">
                    <textarea name="Имя" class="comment-block__form-textarea" placeholder="Оставить комментарий"
                        rows="1"></textarea>



                </label>
                <button class="btn-reset comment-block__form-btn btn">Отправить</button>
            </form>



            <div class="comment-block__user-comment user-comment">
                <div class="user-comment__block">
                    <div class="user-comment__info">
                        <p class="user-comment__name">Иван</p>
                        <div class="user-comment__time">
                            <p class="user-comment__clock">19:00</p>
                            <p class="user-comment__date">27.09.24</p>
                        </div>
                    </div>
                    <p class="user-comment__text">Круто!!!</p>
                </div>
            </div>

        </div>

    </div>
</section>