<header class="header">
    <div class="container-fluid header__container">
        <a href="" class="logo header__logo">
            <img loading="lazy" src="img/logo.svg" class="image" width="65" height="65"
                alt="Логотип United Music Place">
            <div class="header__logo-text">United
                Music
                Place</div>
        </a>
        <div class="header__function">
            <button class="btn-reset search__input-mini" aria-label="Открыть меню" aria-expanded="false">
                Найти
            </button>

            <form class="header__search search">

                <label class="search__label"> <input class="input-reset search__input" type="search__input" name=""
                        id="searchInput" placeholder="Напишите имя артиста, а мы найдем его карточку"></label>

                <div class="search__dropdown ">
                    <p class="search__subtitle">Нашлось 2 результата по вашему запросу</p>
                    <ul class="list-reset search__list" data-simplebar>
                        <li class="search__result">
                            <a href="" class="music-distrube">
                                <picture class="music-distrube__img">
                                    <source srcset="img/123.webp" type="image/webp">
                                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                                </picture>
                                <div class="music-distrube__item">
                                    <p class="music-distrube__album">Never!</p>
                                    <p class="music-distrube__group">Matthew Matthews</p>
                                </div>
                            </a>
                        </li>
                        <li class="search__result">
                            <a href="" class="music-distrube">
                                <picture class="music-distrube__img">
                                    <source srcset="img/123.webp" type="image/webp">
                                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                                </picture>
                                <div class="music-distrube__item">
                                    <p class="music-distrube__album">Never!</p>
                                    <p class="music-distrube__group">Matthew Matthews</p>
                                </div>
                            </a>
                        </li>
                        <li class="search__result">
                            <a href="" class="music-distrube">
                                <picture class="music-distrube__img">
                                    <source srcset="img/123.webp" type="image/webp">
                                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                                </picture>
                                <div class="music-distrube__item">
                                    <p class="music-distrube__album">Never!</p>
                                    <p class="music-distrube__group">Matthew Matthews</p>
                                </div>
                            </a>
                        </li>
                        <li class="search__result">
                            <a href="" class="music-distrube">
                                <picture class="music-distrube__img">
                                    <source srcset="img/123.webp" type="image/webp">
                                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                                </picture>
                                <div class="music-distrube__item">
                                    <p class="music-distrube__album">Never!</p>
                                    <p class="music-distrube__group">Matthew Matthews</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </form>

            <div class="header__account">
                <button class="btn-reset header__account-button">
                    <picture>
                        <source srcset="img/123.webp" type="image/webp">
                        <img loading="lazy" src="img/123.jpg" class="image" width="32" height="32" alt="Твоё фото">
                    </picture>
                    <p>Matthew</p>
                </button>
                <nav class="nav header__nav" title="Главное меню">
                    <ul class="list-reset nav__list">
                        <!--<li class="nav__item"><a href="#" class="nav__link">Creative Access</a></li>-->
                        <li class="nav__item"><a href="#" class="nav__link">Подписки</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Аккаунт</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Выйти</a></li>
                    </ul>
                </nav>
            </div>

        </div>

    </div>

</header>