<div class="graph-modal">
    <div class="graph-modal__container modal-base logreg" role="dialog" aria-modal="true" data-graph-target="login">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content modal-base__content">
            <div class="modal-base__logo logo">
                <img loading="lazy" src="img/logo.svg" class="image" width="65" height="65"
                    alt="Логотип United Music Place" />
            </div>
            <form action="#" class="form modal-base__form login__form">
                <label class="form__label">
                    <input type="email" name="E-mail" class="input-reset form__input input-email"
                        placeholder="E-mail" />
                </label>
                <label class="form__label">
                    <input type="password" name="Password" class="input-reset form__input input-password"
                        placeholder="Пароль" />
                </label>

                <button class="btn-reset btn modal-base__btn form__btn">Отправить</button>
            </form>
        </div>
    </div>

    <div class="graph-modal__container modal-base logreg" role="dialog" aria-modal="true"
        data-graph-target="registration">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content modal-base__content">
            <div class="modal-base__logo logo">
                <img loading="lazy" src="img/logo.svg" class="image" width="65" height="65"
                    alt="Логотип United Music Place" />
            </div>
            <form action="#" class="form modal-base__form registration__form">
                <label class="form__label">
                    <input type="text" name="surname" class="input-reset form__input input-surname"
                        placeholder="Фамилия" />
                </label>
                <label class="form__label">
                    <input type="text" name="name" class="input-reset form__input input-name" placeholder="Имя" />
                </label>
                <label class="form__label">
                    <input type="email" name="E-mail" class="input-reset form__input input-email"
                        placeholder="Электронная почта" />
                </label>
                <label class="form__label">
                    <input type="date" name="date" class="input-reset form__input input-date"
                        placeholder="Дата рождения" />
                </label>
                <label class="form__label">
                    <input type="password" name="password" class="input-reset form__input input-password"
                        placeholder="Пароль" />
                </label>
                <label class="form__label">
                    <input type="password" name="password" class="input-reset form__input input-password1"
                        placeholder="Повторите пароль" />
                </label>

                <label class="form__custom-checkbox custom-checkbox">
                    <input type="checkbox" name="checkbox"
                        class=" custom-checkbox__field form__checkbox input-checkbox">
                    <span class="custom-checkbox__content form__checkbox-content">Я согласен с <a
                            href="http://">Правилами платформы</a> и ее
                        <a href="http://">Политикой конфидициальности</a>.</span>
                </label>
                <button class="btn-reset btn modal-base__btn form__btn">Создать аккаунт</button>
            </form>
        </div>
    </div>


</div>