<div class="graph-modal">

    <div class="graph-modal__container modal-base" role="dialog" aria-modal="true" data-graph-target="info">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content modal-base__content">
            <h3 class="modal-base__title">Информация для лейблов и агентствам сотрудничающих с UMP</h3>
            <p class="modal-base__text">Любое дистрибуторское агентство, агрегатор или лейбл имеет право опубликовать
                свои релизы в UMP.
                Для этого мы создали Step-By-Step гайд по отправке релизов на платформу.</p>


            <ol class="modal-base__list mgdw">
                <li>Скачайте шаблон и заполните все поля <a href="http://">(скачать)</a></li>
                <li>Отправьте заполненный файл на почту: <a
                        href="mailto:release@unitedmusicplace.com">release@unitedmusicplace.com</a></li>
                <li>Получите обратное письмо от администрации.</li>
            </ol>
            <p class="modal-base__text">Дополнительная информация:</p>


            <ol class="modal-base__list ">
                <li>Релизы публикуются ровно в 00:00 по Московскому времени.</li>
                <li>Рекомендовано отправлять релизы за неделю до даты релиза.</li>
                <li>Каждый релиз проходит модерацию на соответствие стриминоговой платформе.</li>
                <li>В некоторых случаях релиз может быть отклонен от публикации.</li>

            </ol>


            <p class="modal-base__text">Некоторые лейблы, агрегаторы или дистрибуторы могут стать постоянными партнерами
                платформы, тем самым получив свой личный кабинет и приоритет в обработке музыки.</p>

            <p class="modal-base__text mgdw">Подробнее о “ППП” на UMP можно прочитать <a href="http://">здесь</a>.</p>

        </div>
    </div>

</div>