<section class="search-block active">
    <div class="container search-block__container">
        <form class="search-block__search search">

            <label class="search__label"> <input class="input-reset search__input search-block__input"
                    type="search__input" name="" id="searchInput"
                    placeholder="Напишите имя артиста, а мы найдем его карточку"></label>

            <div class="search__dropdown search-block__dropdown">
                <p class="search__subtitle">Нашлось 2 результата по вашему запросу</p>
                <ul class="list-reset search__list search-block__list" data-simplebar>
                    <li class="search__result">
                        <a href="" class="music-distrube">
                            <picture class="music-distrube__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                            </picture>
                            <div class="music-distrube__item">
                                <p class="music-distrube__album">Never!</p>
                                <p class="music-distrube__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </li>
                    <li class="search__result">
                        <a href="" class="music-distrube">
                            <picture class="music-distrube__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                            </picture>
                            <div class="music-distrube__item">
                                <p class="music-distrube__album">Never!</p>
                                <p class="music-distrube__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </li>
                    <li class="search__result">
                        <a href="" class="music-distrube">
                            <picture class="music-distrube__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                            </picture>
                            <div class="music-distrube__item">
                                <p class="music-distrube__album">Never!</p>
                                <p class="music-distrube__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </li>
                    <li class="search__result">
                        <a href="" class="music-distrube">
                            <picture class="music-distrube__img">
                                <source srcset="img/123.webp" type="image/webp">
                                <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                            </picture>
                            <div class="music-distrube__item">
                                <p class="music-distrube__album">Never!</p>
                                <p class="music-distrube__group">Matthew Matthews</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </form>
    </div>
</section>