<section class="top-charts">
    <div class="container top-charts__container">
        <h3 class="section-title top-charts__title">Топ Чарт</h3>
        <div class="top-charts__content grid2">
            <a href="" class="music-distrube">
                <p class="music-distrube__number">1</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">2</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">3</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">4</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">5</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">6</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">7</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">8</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number">9</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
            <a href="" class="music-distrube">
                <p class="music-distrube__number music-distrube__number-10">10</p>
                <picture class="music-distrube__img">
                    <source srcset="img/123.webp" type="image/webp">
                    <img loading="lazy" src="img/123.jpg" class="image" width="40" height="40" alt="">
                </picture>
                <div class="music-distrube__item">
                    <p class="music-distrube__album">Never!</p>
                    <p class="music-distrube__group">Matthew Matthews</p>
                </div>
            </a>
        </div>
    </div>
</section>