/* stylelint-disable */

@mixin for-desktop {
    @media (min-width: (1025px)) {
        @content;
    }
}

@mixin big-desktop {
    @media (max-width: (1440px)) {
        @content;
    }
}

@mixin medium-desktop {
    @media (max-width: (1220px)) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: (1024px)) {
        @content;
    }
}

@mixin medium-tablet {
    @media (max-width: (840px)) {
        @content;
    }
}

@mixin small-tablet {
    @media (max-width: (768px)) {
        @content;
    }
}

@mixin mini-tablet {
    @media (max-width: (730px)) {
        @content;
    }
}

@mixin big-mobile {
    @media (max-width: (625px)) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: (576px)) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: (425px)) {
        @content;
    }
}