.burger {
    display: none;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    position: relative;

    &__line {
        position: absolute;
        left: 50%;
        background-color: var(--light-color);
        border-radius: 100px;
        height: 2px;
        width: 26px;
        transform: translate(-50%);
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        &:first-child {
            margin-top: -7px;
        }

        &:last-child {
            left: 9px;
            transform: translateY(-50%);
            margin-top: 7px;
            width: 13px;
        }
    }

    @include high-tablet {
        display: block;
    }
}

.burger-close {
    display: none;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    position: absolute;
    right: var(--container-offset);
    top: 30px;
    background-image: url("../img/cross.svg");
    background-position: center;
    background-size: 14px 12px;
    background-repeat: no-repeat;

    @include high-tablet {
        display: block;
    }
}