.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 0;

    &__container {
        @include flex-all-sb;

        @include high-tablet {
            justify-content: initial;
            align-items: center;
        }
    }

    &__phone {

        @include high-tablet {

            border-radius: 10px;
            margin-left: auto;
            margin-right: 10px;
            width: 44px;
            height: 44px;
            border: 1px solid rgba(255, 255, 255, 0.08);
            position: relative;
            font-size: 0;
            background-image: url("../img/phone.svg");
            background-position: center;
            background-size: 24px 24px;
            background-repeat: no-repeat;
        }
    }
}