.hero {
    padding-top: 160px;
    min-height: 800px;
    background-color: var(--dark-color);

    &__container {
        @include flex-v-center;
    }

    &__content {
        max-width: 516px;

        @include high-tablet {
            max-width: none;
        }
    }

    &__image {
        transform: translateX(167px);

        @include high-tablet {
            display: none;
        }
    }

    &__title {

        font-weight: 600;
        font-size: 70px;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--light-color);
        margin: 0;
        margin-bottom: 50px;

        &-text {
            max-width: 90%;
            display: block;
            font-weight: 400;
            line-height: 160%;
            font-size: 20px;
            text-transform: initial;
        }
    }

    @include high-tablet {
        min-height: auto;
        padding-bottom: 100px;
    }
}