.account-bg {
    margin-top: -15px;

    &__container {

        min-height: 255px;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
        overflow: hidden;
        padding: 0;

        @include medium-desktop {

            min-height: 250px;

        }

        @include small-tablet {

            min-height: 220px;

        }

        @include small-mobile {

            min-height: 185px;

        }
    }

    &__img {
        height: 255px;
        width: 100%;
        position: absolute;
        z-index: -1;


        .image {
            //height: 100%;
            width: 100%;
            height: inherit;



        }

        @include medium-desktop {

            height: 250px;

        }

        @include small-tablet {

            height: 220px;

        }

        @include small-mobile {

            height: 185px;

        }

    }

    .account-bg__function {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        padding: 0 18px;
        margin: 0 0 12px 0;
        max-width: var(--container-width);

        @include small-tablet {
            gap: 26px;

        }

        @include small-mobile {
            gap: 23px;

        }
    }

    .account-bg__title {
        font-weight: 700;
        font-size: 35px;
        color: var(--light-color);
        margin: 0;

        @include medium-desktop {

            font-size: 30px;

        }

        @include small-tablet {

            font-size: 25px;

        }

        @include small-mobile {

            font-size: 20px;

        }
    }

    .account-bg__subscribe {
        border: 0px;
    }
}