.advertisement {
    @include flex-all-center;
    height: 100%;
    width: 100%;

    @include medium-tablet {
        margin-top: 70px;
    }

    &__container {
        height: 100%;
        @include flex-all-center;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 48px;
        color: var(--light-color);
        margin: 0 0 44px 0;

        @include medium-tablet {
            font-size: 40px;
            margin: 0 0 40px 0;
        }

        @include mobile {
            font-size: 30px;
            margin: 0 0 20px 0;
        }
    }

    &__descr {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        color: var(--light-color);
        margin: 0 0 70px 0;

        @include medium-tablet {
            font-size: 15px;
            margin: 0 0 60px 0;
        }

        @include mobile {
            font-size: 13px;
            margin: 0 0 30px 0;
        }
    }

    &__btn {
        min-width: 220px;
    }

}