.footer {

    width: 100%;
    padding: 40px 0 15px 0;
    color: var(--light-color);


    font-weight: 400;
    font-size: 14px;

    @include tablet {
        font-size: 12px;

    }

    @include small-mobile {
        font-size: 10px;
        padding: 10px 0 15px 0;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    &__copy {
        @include mobile {
            line-height: 150%;
            max-width: 180px;
        }

    }

    .fnav {
        &__list {
            display: flex;
            flex-direction: row;
            gap: 30px;

            @include small-tablet {
                flex-direction: column;
                gap: 15px;
            }
        }


        &__link {
            color: var(--light-color);
            text-align: start;



            &:hover {
                text-decoration: underline;
            }
        }
    }
}