.grid2 {
    padding-left: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 15px 35px;
    width: 100%;
    height: 100%;

    @include tablet {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    @include medium-tablet {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    @include big-mobile {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    @include small-mobile {
        padding-left: 5px;
        gap: 10px 20px;
    }
}