.grid1 {
    padding-left: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px 15px;
    width: 100%;
    height: 100%;


    @include big-desktop {

        grid-template-columns: repeat(6, 1fr);
    }

    @include medium-desktop {
        grid-template-columns: repeat(5, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }

    @include medium-tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include big-mobile {
        padding-left: 0px;

        grid-template-columns: repeat(2, 1fr);
    }

    @include small-mobile {
        gap: 10px 10px;
    }
}