.slider {


    &__content {
        margin-bottom: 20px;
    }

    .swiper {
        padding: 0 12px;

        @include small-tablet {

            padding: 0;
            margin-right: -130px;

        }
    }

    .swiper-slide {
        @include small-tablet {

            margin-right: 10px !important;

        }
    }

    &__all-track {
        .swiper-slide {
            width: 140px;

            @include medium-desktop {

                width: 130px;

            }

            @include small-tablet {

                width: 111px;

            }

            @include small-mobile {

                width: 82px;

            }
        }

    }

    &__all-video {
        .swiper-slide {
            width: 240px;

            @include medium-desktop {

                width: 230px;

            }

            @include small-tablet {

                width: 193px;

            }

            @include small-mobile {

                width: 140px;

            }
        }


    }

    .swiper-scrollbar-horizontal {
        position: relative;
        border-radius: 40px;
        width: 100%;
        height: 4px;
        background: var(--dark-color);
        margin-left: -12px;
    }

    .swiper-scrollbar-drag {
        background-color: var(--light-color)
    }


}