.user-comment {

    width: 100%;

    &__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        color: var(--light-color);
        background-color: var(--dark-color);
        padding: 10px 12px;
        padding-bottom: 13px;

    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__name {

        font-weight: 700;
        font-size: 12px;
        color: #fff;
        margin: 0;

        @include small-tablet {
            font-size: 11px;

        }



    }

    &__time {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;


    }

    &__clock {
        margin: 0;
        font-weight: 300;
        font-size: 15px;
        color: var(--light-color);

        @include small-tablet {
            font-size: 14px;

        }

        @include small-mobile {
            font-size: 13px;


        }
    }

    &__date {
        margin: 0;
        font-weight: 300;
        font-size: 9px;
        color: var(--light-color);

        @include small-tablet {
            font-size: 8px;

        }

        @include small-mobile {
            font-size: 7px;


        }
    }

    &__text {
        width: 100%;
        margin: -4px 0 0 0;

        padding-right: 80px;
        font-weight: 300;
        font-size: 15px;
        color: var(--light-color);

        @include small-tablet {
            font-size: 13px;

        }

        @include small-mobile {
            font-size: 11px;


        }
    }
}